In [1]:
print(sc.version)

2.4.0

In [2]:
# Get Project Type that Receive most donations
dfProjectType=spark.sql("SELECT ProjectsHiveTable.`Project Type`, \
             SUM(CAST(DonationsHiveTable.`Donation Amount` AS DECIMAL(10,2))) AS Total \
             from ProjectsHiveTable JOIN DonationsHiveTable ON \
             ProjectsHiveTable.`Project ID` = DonationsHiveTable.`Project ID` \
             GROUP BY ProjectsHiveTable.`Project Type`")
dfProjectType.show()

+--------------------+------------+
|        Project Type|       Total|
+--------------------+------------+
|         Teacher-Led|276414228.33|
|Professional Deve...|  2491235.29|
|         Student-Led|  2713256.98|
+--------------------+------------+

In [3]:
# Create Hive table with results
dfProjectType.createOrReplaceTempView("ProjectTypeTempTable")
spark.sql("create table ResultsProjectTypeTable as select * from ProjectTypeTempTable")

DataFrame[]

In [6]:
# Correlation of Teachers and Non Teachers Donations - Teachers Data
dfDonorType=spark.sql("SELECT DonorsHiveTable.`Donor is Teacher`, \
              SUM(CAST(DonationsHiveTable.`Donation Amount` AS DECIMAL(10,2))) AS Total \
              FROM DonationsHiveTable JOIN DonorsHiveTable ON \
              DonorsHiveTable.`Donor ID` = DonationsHiveTable.`Donor ID` \
              GROUP BY DonorsHiveTable.`Donor is Teacher`")
dfDonorType.show()

+----------------+------------+
|Donor is Teacher|       Total|
+----------------+------------+
|              No|223064734.47|
|             Yes| 61006942.31|
+----------------+------------+

In [7]:
# Create Hive table with results
dfDonorType.createOrReplaceTempView("DonorTypeTempTable")
spark.sql("create table ResultsDonorTypeTable as select * from DonorTypeTempTable")

DataFrame[]

In [8]:
# Correlation of Males and Females Teachers Donations
dfTeachersGender=spark.sql("SELECT TeachersHiveTable.`Teacher Prefix`, \
              SUM(CAST(DonationsHiveTable.`Donation Amount` AS DECIMAL(10,2))) AS Total \
              FROM DonationsHiveTable JOIN TeachersHiveTable ON \
              TeachersHiveTable.`Teacher ID` = DonationsHiveTable.`Donor ID` \
              GROUP BY TeachersHiveTable.`Teacher Prefix`")
dfTeachersGender.show()

+--------------+-----------+
|Teacher Prefix|      Total|
+--------------+-----------+
|           Ms.|20839892.59|
|       Teacher|  703063.40|
|          null|    2271.07|
|           Mr.|10140481.41|
|          Mrs.|26423783.32|
|           Dr.|   25687.58|
|           Mx.|    5859.35|
+--------------+-----------+

In [9]:
# Create Hive table with results
dfTeachersGender.createOrReplaceTempView("TeachersGenderTempTable")
spark.sql("create table ResultsTeachersGenderTable as select * from TeachersGenderTempTable")

DataFrame[]

In [11]:
# State with most make donations
dfDonationsMadeByState=spark.sql("SELECT DonorsHiveTable.`Donor State`, \
                                 SUM(CAST(DonationsHiveTable.`Donation Amount` AS DECIMAL(10,2))) AS Total \
                                 FROM DonationsHiveTable JOIN DonorsHiveTable ON \
                                 DonorsHiveTable.`Donor ID` = DonationsHiveTable.`Donor ID` \
                                 GROUP BY DonorsHiveTable.`Donor State`")
dfDonationsMadeByState.show(dfDonationsMadeByState.count(), False)

+--------------------+-----------+
|Donor State         |Total      |
+--------------------+-----------+
|Utah                |2755841.98 |
|Hawaii              |1397935.03 |
|Minnesota           |3604963.49 |
|Ohio                |5625645.80 |
|Arkansas            |1432189.74 |
|Oregon              |3965820.04 |
|Texas               |17392010.06|
|North Dakota        |349755.14  |
|Pennsylvania        |8719832.46 |
|Connecticut         |4546151.53 |
|Nebraska            |670643.94  |
|Vermont             |384306.38  |
|Nevada              |2348658.13 |
|Washington          |7437949.12 |
|Illinois            |14838197.91|
|Oklahoma            |4106344.41 |
|other               |7993566.28 |
|District of Columbia|1811878.20 |
|Delaware            |915053.54  |
|Alaska              |669350.43  |
|New Mexico          |1089004.25 |
|West Virginia       |812536.38  |
|Missouri            |4035165.36 |
|Rhode Island        |802152.86  |
|Georgia             |7719309.94 |
|Montana             |687270.29  |
|Michigan            |6708546.13 |
|Virginia            |6845924.16 |
|North Carolina      |11088914.99|
|Wyoming             |232148.85  |
|Kansas              |1461634.08 |
|New Jersey          |7146562.01 |
|Maryland            |5248575.84 |
|Alabama             |2538167.31 |
|Arizona             |5093127.47 |
|Iowa                |1304088.90 |
|Massachusetts       |11200095.25|
|Kentucky            |2025661.85 |
|Louisiana           |3004789.36 |
|Mississippi         |1582958.38 |
|New Hampshire       |1126144.62 |
|Tennessee           |3695037.83 |
|Florida             |13597443.51|
|Indiana             |5568257.26 |
|Idaho               |1033819.87 |
|South Carolina      |5543905.55 |
|South Dakota        |479454.60  |
|California          |46564797.79|
|New York            |24532648.52|
|Wisconsin           |3896673.12 |
|Colorado            |5074027.28 |
|Maine               |1366739.56 |
+--------------------+-----------+

In [12]:
# Create Hive table with results
dfDonationsMadeByState.createOrReplaceTempView("DonationsMadeByStateTempTable")
spark.sql("create table ResultsDonationsMadeByStateTable as select * from DonationsMadeByStateTempTable")

DataFrame[]

In [13]:
# State with most received donations
dfDonationsByState=spark.sql("SELECT SchoolsHiveTable.`School State`, \
                             SUM(CAST(DonationsHiveTable.`Donation Amount` AS DECIMAL(10,2))) AS Total \
                             FROM DonationsHiveTable \
                             JOIN ProjectsHiveTable ON \
                             DonationsHiveTable.`Project ID` = ProjectsHiveTable.`Project ID` \
                             JOIN SchoolsHiveTable ON \
                             SchoolsHiveTable.`School ID` = ProjectsHiveTable.`School ID` \
                             GROUP BY SchoolsHiveTable.`School State`")
dfDonationsByState.show(dfDonationsByState.count(), False)

+--------------------+-----------+
|School State        |Total      |
+--------------------+-----------+
|Utah                |3108568.37 |
|Hawaii              |2019575.50 |
|Minnesota           |3414589.27 |
|Ohio                |5720818.77 |
|Oregon              |4075159.99 |
|Arkansas            |1784650.09 |
|Texas               |17539223.58|
|North Dakota        |356774.25  |
|Pennsylvania        |8333432.70 |
|Connecticut         |4615298.66 |
|Vermont             |394128.26  |
|Nebraska            |646896.23  |
|Nevada              |2773494.78 |
|Washington          |6441378.47 |
|Illinois            |15542406.18|
|Oklahoma            |5231957.03 |
|District of Columbia|2129021.31 |
|Delaware            |919433.67  |
|Alaska              |899257.67  |
|New Mexico          |1288396.57 |
|West Virginia       |1158237.59 |
|Missouri            |4894340.48 |
|Rhode Island        |1113406.14 |
|Georgia             |8297850.00 |
|Montana             |815422.36  |
|Virginia            |5750947.28 |
|Michigan            |7723099.32 |
|North Carolina      |12770353.34|
|Wyoming             |418305.98  |
|Kansas              |1391957.32 |
|New Jersey          |6018905.16 |
|Maryland            |4619365.45 |
|Alabama             |3477686.44 |
|Arizona             |5488148.20 |
|Iowa                |1318859.08 |
|Massachusetts       |9802350.64 |
|Kentucky            |2429692.67 |
|Louisiana           |4247226.66 |
|Mississippi         |2361205.41 |
|New Hampshire       |1076746.33 |
|Tennessee           |4137856.88 |
|Indiana             |5801988.33 |
|Florida             |13745330.36|
|Idaho               |1239087.08 |
|South Carolina      |7081443.51 |
|South Dakota        |696584.18  |
|California          |45179799.53|
|New York            |21583224.84|
|Wisconsin           |4022628.08 |
|Colorado            |4147974.88 |
|Maine               |1572823.37 |
+--------------------+-----------+

In [14]:
# Create Hive table with results
dfDonationsByState.createOrReplaceTempView("DonationsByStateTempTable")
spark.sql("create table ResultsDonationsByStateTable as select * from DonationsByStateTempTable")

DataFrame[]

In [15]:
# School Type with most received donations
dfSchoolType=spark.sql("SELECT SchoolsHiveTable.`School Metro Type`, \
                       SUM(CAST(DonationsHiveTable.`Donation Amount` AS DECIMAL(10,2))) AS Total \
                       FROM DonationsHiveTable \
                       JOIN ProjectsHiveTable ON \
                       DonationsHiveTable.`Project ID` = ProjectsHiveTable.`Project ID` \
                       JOIN SchoolsHiveTable ON \
                       SchoolsHiveTable.`School ID` = ProjectsHiveTable.`School ID` \
                       GROUP BY SchoolsHiveTable.`School Metro Type`")
dfSchoolType.show()

+-----------------+------------+
|School Metro Type|       Total|
+-----------------+------------+
|          unknown| 22271045.27|
|         suburban| 82873104.89|
|             town| 11738111.95|
|            rural| 26110253.26|
|            urban|138624792.87|
+-----------------+------------+

In [16]:
# Create Hive table with results
dfSchoolType.createOrReplaceTempView("SchoolTypeTempTable")
spark.sql("create table ResultsSchoolTypeTable as select * from SchoolTypeTempTable")

DataFrame[]

In [17]:
# Project Resource category - Books vs Techonology - that Receive most donations
dfProjectResource=spark.sql("SELECT ProjectsHiveTable.`Project Resource Category`, \
             SUM(CAST(DonationsHiveTable.`Donation Amount` AS DECIMAL(10,2))) AS Total \
             from ProjectsHiveTable \
             JOIN DonationsHiveTable ON \
             ProjectsHiveTable.`Project ID` = DonationsHiveTable.`Project ID` \
             WHERE ProjectsHiveTable.`Project Resource Category` = 'Technology' \
             OR ProjectsHiveTable.`Project Resource Category` = 'Books' \
             GROUP BY ProjectsHiveTable.`Project Resource Category`")
dfProjectResource.show()

+-------------------------+-----------+
|Project Resource Category|      Total|
+-------------------------+-----------+
|                    Books| 9873985.77|
|               Technology|23669675.03|
+-------------------------+-----------+

In [18]:
# Create Hive table with results
dfProjectResource.createOrReplaceTempView("ProjectResourceTempTable")
spark.sql("create table ResultsProjetResourceTable as select * from ProjectResourceTempTable")

DataFrame[]

In [24]:
# Get Donations by Year
dfDonationsByYear=spark.sql("SELECT SUBSTRING(DonationsHiveTable.`Donation Received Date`, 0,4) AS DonationYear, \
             SUM(CAST(DonationsHiveTable.`Donation Amount` AS DECIMAL(10,2))) AS Total \
             from DonationsHiveTable \
             GROUP BY DonationYear \
             ORDER BY DonationYear DESC")
dfDonationsByYear.show()

+------------+-----------+
|DonationYear|      Total|
+------------+-----------+
|        2018|26481196.48|
|        2017|72872130.78|
|        2016|62652231.24|
|        2015|50488354.49|
|        2014|41461266.85|
|        2013|30428220.80|
|        2012|   24842.64|
+------------+-----------+

In [25]:
# Create Hive table with results
dfDonationsByYear.createOrReplaceTempView("DonationsByYearTempTable")
spark.sql("create table ResultsDonationsByYearTable as select * from DonationsByYearTempTable")

DataFrame[]

In [26]:
# Get Donations by Month/Year
dfDonationsByDate=spark.sql("SELECT SUBSTRING(DonationsHiveTable.`Donation Received Date`, 0,7) AS DonationDate, \
             SUM(CAST(DonationsHiveTable.`Donation Amount` AS DECIMAL(10,2))) AS Total \
             from DonationsHiveTable \
             GROUP BY DonationDate \
             ORDER BY DonationDate DESC")
dfDonationsByDate.show()

+------------+----------+
|DonationDate|     Total|
+------------+----------+
|     2018-05|1506746.30|
|     2018-04|6313794.97|
|     2018-03|5757581.91|
|     2018-02|5094398.32|
|     2018-01|7808674.98|
|     2017-12|8466878.98|
|     2017-11|6887667.01|
|     2017-10|7077864.75|
|     2017-09|7588821.83|
|     2017-08|9043762.30|
|     2017-07|4826303.21|
|     2017-06|2983810.52|
|     2017-05|3721099.67|
|     2017-04|3418379.81|
|     2017-03|7160669.35|
|     2017-02|5864177.41|
|     2017-01|5832695.94|
|     2016-12|8152607.93|
|     2016-11|6271338.86|
|     2016-10|5478470.10|
+------------+----------+
only showing top 20 rows

In [27]:
# Create Hive table with results
dfDonationsByDate.createOrReplaceTempView("DonationsByDateTempTable")
spark.sql("create table ResultsDonationsByDateTable as select * from DonationsByDateTempTable")

DataFrame[]